<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Fases de analisis de un compilador</h1>
<p><b>Hecho por:</b> Oscar Raziel Andrade Ramírez</p>
<p><b>Materia:</b> Lenguajes y automatas 2</p>
<p><b>Semestre:</b> Agosto - Diciembre 2019</p>
<p><b>Contenidos principales:</b>
<ul>
    <li>Analisis lexico</li>
    <li>Analisis sintactico</li>
    <li>Analisis semantico</li>
</ul>
</p>
<p>
    <b>Herramientas usadas:</b>
    <ul>
        <li><b>Java.</b> Lenguaje de programación en el que fue desarrollado este proyecto.</li>
        <li><b>JavaFX.</b> Libreria para el desarrollo de la interfaz de usuario.</li>
        <li><b>HTML.</b> Lenguaje de marcado usado para mostrar la información de cada análisis (y esta página).</li>
        <li><b>CSS. </b> Lenguaje para dar formato a los documentos HTML.</li>
        <li><b>Librerias externas para Java</b>
            <ul>
                <li><b>RichTextFX.</b> Libreria para crear un area de texto especial para codigo.</li>
            </ul>
        </li>
    </ul>
</p>
<p><b>Otras herramientas usadas que no se relacionan directo con el desarrollo:</b>
<ul>
    <li><b>Git.</b> Software usado para tener un control de versiones de este proyecto.</li>
    <li><b>Github.</b> Sitio web usado para alojar este proyecto.</li>
    <li><b>Markdown.</b> Lenguaje de marcado para generar la documentación e investigación necesaria.</li>
    <li><b>Boostnote y Typora.</b> Software usado para editar archivos tipo markdown.</li>
</ul>
</p>
</body>
</html>