<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<h1>Análisis sintáctico</h1>

<h2>Autómata</h2>

<p>Se hace uso de un autómata de pila, que debido a la longitud de su definición, no se incluye en el presente archivo</p>

<h2>Diagramas de clases</h2>

<h3>Clase Control</h3>

<p><img src="syntactic/Control.png" alt="control"></p>

<h3>Clase Key</h3>

<p><img src="syntactic/Key.png" alt="key"></p>

<h3>Clase PushDownAutomaton</h3>

<p><img src="syntactic/PushDownAutomaton.png" alt="control"></p>

<h3>Clase Rules</h3>

<p><img src="syntactic/Rules.png" alt="control"></p>

<h3>Clase Symbol</h3>

<p><img src="syntactic/Symbol.png" alt="control"></p>

<h3>Clase Syntactic</h3>

<p><img src="syntactic/Syntactic.png" alt="control"></p>

<h3>Clase Control</h3>

<p><img src="syntactic/Value.png" alt="control"></p>
</body>
</html>